body{
    font-family: 'Noto Sans', sans-serif;
    background-color:lightsteelblue;
    background: url("https://images.pexels.com/photos/11952303/pexels-photo-11952303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}


/* navbar css starts here  */
.bg-light{
    background-color: #f2eee4!important;
}

.navbar-brand{
    font-family: 'Sono', cursive;
    font-size: 1.5rem;
    color: #68675f!important;
}

.nav-link{
    color: #685f5f!important;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f3;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(77, 134, 152)!important;
    color: rgba(255, 255, 255, 0.8)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(66, 135, 111)!important;
}